<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Concatenador de Archivos de GitHub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5597925435997242"
     crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Concatenador de Archivos de GitHub</h1>
        <button id="toggle-mode">Cambiar a Modo Oscuro</button>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form method="post">
            <label for="repo_url">Ingresa la URL del repositorio de GitHub:</label><br>
            <input type="text" id="repo_url" name="repo_url" required placeholder="https://github.com/usuario/repositorio/tree/main/ruta"><br><br>
            <label for="output_filename">Nombre del archivo de salida (opcional):</label><br>
            <input type="text" id="output_filename" name="output_filename" placeholder="onefile.txt"><br><br>
            <input type="submit" value="Procesar">
        </form>

        <hr> {# Una línea horizontal para separar secciones #}

        <h2>Descargar Aplicación de Escritorio</h2>
        <div class="download-buttons">
            <a href="{{ url_for('static', filename='executables/your_app_windows.exe') }}" download>
                <button class="download-button">Descargar para Windows</button>
            </a>
            <a href="{{ url_for('static', filename='executables/your_app_linux') }}" download>
                <button class="download-button">Descargar para Linux</button>
            </a>
            <a href="{{ url_for('static', filename='executables/your_app_mac.dmg') }}" download>
                <button class="download-button">Descargar para Mac</button>
            </a>
        </div>

        <div class="ads">
        <img id="ad-image" src="https://files.alerta.rcnradio.com/alerta_paisa/public/2021-09/daviplata_1_0.jpg?DizPtze8xZkPa2cpzXE_DUPtHu9.RgQK" alt="Daviplata">
        <p id="phone-number">3107946794</p>
        <button id="copy-button" onclick="copyToClipboard()">Copiar al portapapeles</button>
    </div>

    <script>
    function copyToClipboard() {
        const text = document.getElementById('phone-number').innerText;
        navigator.clipboard.writeText(text).then(() => {
            const button = document.getElementById('copy-button');
            button.classList.add('copied');
            button.innerHTML = 'Copiado <span class="checkmark"></span>';
            setTimeout(() => {
                button.classList.remove('copied');
                button.innerHTML = 'Copiar al portapapeles';
            }, 2000);
        }).catch(err => {
            console.error('Error al copiar el texto: ', err);
        });
    }
    </script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>